*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171c3c;
}

h1{
    position: absolute;
    left: 200px;
    top: 50px;
}

h2{
    position: absolute;
    left: 200px;
    top: 150px; 
}


.youtube{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background-color: #f85858;
    position: absolute;
    left: 200px;
    cursor: pointer;
    transition:  all 0.5s;
}

.youtube:hover{
    transform: scale(1.3)
}

.youtube img{
    position: absolute;
    left: 25px;
    top: 60px;
}

.twitch{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background-color: #985afc;
    position: absolute;
    left: 450px;
    cursor: pointer;
    transition:  all 0.5s;
}

.twitch:hover{
    transform: scale(1.3)
}

.twitch img{
    position: absolute;
    left: 31px;
    top: 80px;
}

.discoard{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background-color: #a99aeb;
    position: absolute;
    left: 700px;
    cursor: pointer;
    transition:  all 0.5s;
}

.discoard:hover{
    transform: scale(1.3)
}

.discoard img{
    position: absolute;
    left: 25px;
    top: 75px;
}